<p id = "intro">Inbox</p>
<div id = "email_table">
    <table>
        <thead>
            <tr>
                <th>Sender</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id= "mybody">
        </tbody>
    </table>
</div>

<div class="email-popup" id = "email-popup">
    <button type="button" id = "close" (click) = "closeEmailPopup()">Close</button>
    <div class="email-container">
        <div class = "sender-container">
            <label for = "sender">Sender:</label>
            <p id = "sender">dummy</p>
        </div>
        <div class = "date-container">
            <label for = "date">Date: </label>
            <p id = "date">dummy</p>
        </div>
        <div class = "subject-container">
            <label for = "subject">Subject: </label>
            <p id = "subject">dummy</p>
        </div>
        <div class = "priority-container">
            <label for = "priority">Priority: </label>
            <p id = "priority">dummy</p>
        </div>
        <div class = "message-container">
            <label for = "message">Message: </label>
            <p id = "message">dummy</p>
        </div>
    </div>
</div>