<p id = "intro">Draft</p>
<div id = "email_table">
    <table>
        <thead>
            <tr>
                <th>Receiver</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Meniem</td>
                <td>24/12/21</td>
                <td>Test</td>
                <td>
                    <button>Show</button>
                    <button>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>